<div class="fc-consent-root">
		<div class="fc-dialog-overlay"></div>

		<div class="fc-dialog-container">
            <!-- Root Dialog -->
			<div class="fc-dialog fc-choice-dialog" role="dialog" aria-label="" tabindex="0">
				<div class="fc-dialog-content">
					<div class="fc-dialog-scrollable-content">
						<div class="fc-header fc-dialog-restricted-content">
							<h2
								class="fc-site-macro-logo fc-header-image-container">
								<div class="fc-header-image-container">
									<img class="fc-header-image" alt="Welcome to BBC.com" src="../images/logo.png"></div>
							</h2>
							<h1>BBC.com would like permission to share your
								personal data with our ad partners to allow them
								to show ads tailored to your interests</h1>
						</div>
						<div class="fc-stacks fc-dialog-restricted-content">
							<ul>
								<li>
									<div class="fc-stack-icon">
										<i class="material-icons">perm_identity</i>
									</div>
									<span class="fc-stack-name">Personalised ads
										and content, ad and content measurement,
										audience insights and product
										development</span>
								</li>
								<li>
									<div class="fc-stack-icon">
										<i class="material-icons">devices</i>
									</div>
									<span class="fc-stack-name">Store and/or
										access information on a device</span>
								</li>
							</ul>
						</div>
                        <button class="fc-faq-header fc-dialog-restricted-content" role="button" aria-label="" tabindex="0">
							<div class="fc-faq-icon">
								<i class="material-icons faq-section-closed">expand_more</i><i class="material-icons faq-section-open" style="display: none !important;">remove</i>
							</div><span class="fc-faq-label">Learn more</span>
						</button>
						<div class="fc-faq-contents" style="display: none !important;">
							<ul class="fc-dialog-restricted-content">
								<li>
									<a class="fc-faq-item" role="button" aria-label="" tabindex="0" href="#" data-faq-item-index="0"><div class="fc-faq-item-dot"></div><span class="fc-faq-item-title">How can I change my choice?</span></a>
								</li>
								<li>
									<a class="fc-faq-item" role="button" aria-label="" tabindex="0" href="#" data-faq-item-index="1"><div class="fc-faq-item-dot"></div><span class="fc-faq-item-title">What if I don't consent?</span></a>
								</li>
								<li>
									<a class="fc-faq-item" role="button" aria-label="" tabindex="0" href="#" data-faq-item-index="2"><div class="fc-faq-item-dot"></div><span class="fc-faq-item-title">How does legitimate interest work?</span></a>
								</li>
								<li>
									<a class="fc-faq-item" role="button" aria-label="" tabindex="0" href="#" data-faq-item-index="3"><div class="fc-faq-item-dot"></div><span class="fc-faq-item-title">Do I have to consent to everything?</span></a>
								</li>
							</ul>
						</div>
						<div class="fc-footer fc-dialog-restricted-content">
							<p>Your personal data will be processed and
								information from your device (cookies, unique
								identifiers and other device data) may be stored
								by, accessed by and shared with
								<a class="fc-vendors-list-dialog" role="button" tabindex="0" href="#">third-party vendors</a>,
								or used specifically by this site or app.</p>
							<p>Some vendors may process your personal data on
								the basis of legitimate interest, which you can
								object to by managing your options below. Look
								for a link at the bottom of this page or in our
								privacy policy where you can withdraw consent.
							</p>
						</div>
					</div>
				</div>

				<div class="fc-footer-buttons-container">
					<div class="fc-footer-buttons-divider"></div>

					<div class="fc-footer-buttons">
                        <button class="fc-button fc-cta-consent fc-primary-button" role="button" aria-label="" tabindex="0">
							<div class="fc-button-background"></div>
							<p class="fc-button-label">Consent</p>
						</button>
                        <button class="fc-button fc-cta-do-not-consent fc-secondary-button" role="button" aria-label="" tabindex="0">
							<div class="fc-button-background"></div>
							<p class="fc-button-label">Do not consent</p>
						</button>
                    </div>

                    <button class="fc-button fc-cta-manage-options" role="button" aria-label="" tabindex="0">
						<p class="fc-manage-options-third-button-label">Manage options</p>
					</button>

				</div>
			</div>

            <!-- Cookies Management -->
			<div class="fc-dialog fc-data-preferences-dialog" role="dialog" aria-label="" tabindex="0" style="display: none !important;">
				<div class="fc-dialog-header">
					<button class="fc-dialog-header-back-button fc-data-preferences-back" role="button" aria-label="" tabindex="0"><i class="material-icons">arrow_back</i></button>
					<p>Data preferences</p>
				</div>

				<div class="fc-dialog-content">
					<div class="fc-dialog-scrollable-content">
						<div class="fc-header fc-dialog-restricted-content">
							<h1>Manage your data</h1>
						</div>
						<div class="fc-body fc-dialog-restricted-content">
							<p>You can choose how your personal data is used. Vendors want your permission to do the following:</p>
						</div>
						<div id="cookies-content-wrapper" class="fc-preferences-container">

                            <!-- Loop Conainer  -->
							<div class="fc-preference-container">
								<div class="fc-preference-title">
									<h2>Store and/or access information on a device</h2>
								</div>
								<div class="fc-preference-description">Cookies, device identifiers, or other information can be stored or accessed on your device for the
									purposes presented to you.
									<!-- More Details Info -->
									<a class="fc-purpose-feature-more-info" role="button" aria-label="" tabindex="0" data-name="Store and/or access information on a device" data-legal-description="Αυτά τα Cookies είναι δικά μας" href="#">View details</a>
								</div>
								<label class="fc-preference-slider-container fc-consent-preference-container">
                                    <span class="fc-preference-slider-label">Consent</span>
                                    <span class="fc-preference-slider">
										<input type="checkbox" role="button" aria-label="" aria-pressed="false" tabindex="0" class="fc-preference-consent purpose" data-id="1">
										<span class="fc-slider-el"></span>
                                    </span>
                                </label>
							</div>
							
						</div>

                        <!-- Ventors Button -->
						<div class="fc-navigation fc-dialog-restricted-content" style="display: none;">
							<button class="fc-navigation-button fc-manage-vendors" role="button" aria-label="" tabindex="0">
								<p class="fc-navigation-button-label">Vendor preferences</p>
							</button>
                        </div>

					</div>
				</div>

				<div class="fc-footer-buttons-container">
					<div class="fc-footer-buttons-divider"></div>
					<div class="fc-footer-buttons">
                        <button class="fc-button fc-data-preferences-accept-all fc-secondary-button" role="button" aria-label="" tabindex="0">
							<div class="fc-button-background"></div>
							<p class="fc-button-label">Accept all</p>
						</button>
                        <button class="fc-button fc-confirm-choices fc-primary-button" role="button" aria-label="" tabindex="0">
							<div class="fc-button-background"></div>
							<p class="fc-button-label">Confirm choices</p>
						</button>
                    </div>
				</div>
			</div>

            <!-- Ventors Dialog -->
			<div class="fc-dialog fc-vendor-preferences-dialog" role="dialog" aria-label="" tabindex="0" style="display: none !important;">
				<div class="fc-dialog-header">
					<button class="fc-dialog-header-back-button fc-vendor-preferences-back" role="button" aria-label="" tabindex="0"><i class="material-icons">arrow_back</i></button>
					<p>Vendor preferences</p>
				</div>

                <!-- Loop Conainer  -->
				<div class="fc-dialog-content">
					<div class="fc-dialog-scrollable-content">
						<div class="fc-header fc-dialog-restricted-content">
							<h1>Confirm our vendors</h1>
						</div>
						<div class="fc-body fc-dialog-restricted-content">
							<p>Vendors can use your data to provide services.
								Declining a vendor can stop them from using the
								data that you shared.</p>
						</div>
						<div class="fc-preferences-container">
							<div class="fc-preference-divider">
								<p>TCF vendors</p>
								<button class="fc-help-tip" data-title="What does TCF mean?" data-full-info="" role="tooltip" aria-label="" tabindex="0"><i class="material-icons" data-title="What does TCF mean?" data-full-info="">help_outline</i></button>
							</div>

							<div class="fc-preference-container">
								<div class="fc-preference-title">
									<h2>Index Exchange, Inc. </h2>
								</div>
								<div class="fc-preference-description">
									<div class="fc-iab-vendor-storage-info-container">
										Cookie duration: 395 (days). Cookie
										duration resets each session. Uses other
										forms of storage.</div>
									<div class="fc-preference-container-divider">
									</div>
									<a class="fc-vendor-purposes-features-list" role="button" aria-label="" tabindex="0" data-vendor-id="10" href="#">View details</a>
									|
									<a class="fc-vendor-policy-link" role="link" aria-label="" tabindex="0" data-policy-link="https://www.indexexchange.com/privacy" href="#">Privacy policy<i class="material-icons fc-launch-icon" data-policy-link="https://www.indexexchange.com/privacy">launch</i></a>
								</div>
								<label class="fc-preference-slider-container fc-consent-preference-container"><span class="fc-preference-slider-label">Consent</span><span class="fc-preference-slider">

										<input type="checkbox" role="button" aria-label="" aria-pressed="false" tabindex="0" class="fc-preference-consent gvl-vendor" data-id="10">
										<span class="fc-slider-el"></span></span></label><label class="fc-preference-slider-container fc-legitimate-interest-preference-container" for="fc-preference-slider-gvl-vendor-10"><span class="fc-preference-slider-label">Legitimate
										interest<button class="fc-help-tip" data-title="How does legitimate interest work?" data-full-info="" role="tooltip" aria-label="" tabindex="0"><i class="material-icons" data-title="How does legitimate interest work?" data-full-info="">help_outline</i></button></span><span class="fc-preference-slider">

										<input type="checkbox" role="button" aria-label="" aria-pressed="true" tabindex="0" class="fc-preference-legitimate-interest gvl-vendor" data-id="10" id="fc-preference-slider-gvl-vendor-10" checked="">
										<span class="fc-slider-el"></span></span></label>
							</div>
                            
						</div>
					</div>
				</div>

				<div class="fc-footer-buttons-container">
					<div class="fc-footer-buttons-divider"></div>
					<div class="fc-footer-buttons">
                        <button class="fc-button fc-vendor-preferences-accept-all fc-secondary-button" role="button" aria-label="" tabindex="0">
							<div class="fc-button-background"></div>
							<p class="fc-button-label">Accept all</p>
						</button>
                        <button class="fc-button fc-confirm-choices fc-primary-button" role="button" aria-label="" tabindex="0">
							<div class="fc-button-background"></div>
							<p class="fc-button-label">Confirm choices</p>
						</button>
                    </div>
				</div>
			</div>
		</div>

		<div class="fc-help-dialog-container" role="dialog" tabindex="0" style="display: none !important;">
			<div class="fc-help-dialog-overlay"></div>
			<div class="fc-help-dialog">
				<h1></h1>
				<div class="fc-help-dialog-contents"></div>
                
				<div class="fc-help-dialog-button-container">
                    <button class="fc-help-dialog-close-button" role="button" aria-label=""tabindex="0">
						<p class="fc-help-dialog-close-button-label">Close</p>
					</button>
                </div>
			</div>
		</div>

        <template id="cookie-div">
            <div class="fc-preference-container">
            	<div class="fc-preference-title">
            		<h2></h2>
            	</div>
            	<div class="fc-preference-description">
            		<!-- More Details Info -->
            		<a class="fc-purpose-feature-more-info" role="button" aria-label="" tabindex="0" data-name="Store and/or access information on a device" data-legal-description="Αυτά τα Cookies είναι δικά μας" href="#">View details</a>
            	</div>
            	<label
            		class="fc-preference-slider-container fc-consent-preference-container">
            		<span class="fc-preference-slider-label">Consent</span>
            		<span class="fc-preference-slider">
                            <input type="checkbox" role="button" aria-label="" aria-pressed="false" tabindex="0" class="fc-preference-consent purpose" data-id="1">
                            <span class="fc-slider-el"></span>
            		</span>
            	</label>
            </div>
        </template>
	</div>